<h1>Editing links</h1>

<% form_for(@links) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :postcard %><br />
    <%= f.text_field :postcard %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @links %> |
<%= link_to 'Back', links_path %>
