<% div_for(latest, :class => "span-14") do %>
	<div class="image span-8"><%= image_tag latest.photo.url(:medium) %></div>
	<div class="post-data span-6 last">
		<h3><%= link_to latest.title, latest %></h3>
		<p class="desc"><%= latest.description[0, 250] %>... <%= link_to "Read more", latest %>
		<p>Submitted by: <%= latest.user.login %></p>
		<% unless latest.tag_list.empty? %><p>Tags: <%= render :partial => latest.tags %></p><% end %>
	</div>
<% end %>