<% div_for(postcard) do %>
	<h3><%= link_to postcard.title, postcard %></h3>
	<p><%= image_tag postcard.photo.url(:thumb) %><%= postcard.description %>
	<p>Submitted by: <%= postcard.user.login %></p>
	<p><% unless postcard.tag_list.empty? %>
		Tags: <%= render :partial => postcard.tags %>&nbsp;|&nbsp;
		<% end %>Votes <%= postcard.votes_count %></p>
	<% if logged_in? && current_user.has_role?("admin") %>
	<ul>
	    <li><%= link_to 'Edit', edit_postcard_path(postcard) %></li>
	  	<li><%= link_to 'Destroy', postcard, :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>
	<% end %>
<% end %>