<%= title('Home') %>
<div id="home_feature" class="span-21">
	<div class="slider span-14">
		<%= render :partial => 'latest', :collection => @postcards %>
	</div>
	<div class="about span-8 last">
		<h3>This is the about box</h3>
		<p>Been somewhere great? Looking for an awesome elective? Or just planning a trip at the end of the year.</p>
	</div>
	<div class="spacer"></div>
</div>
<div id="home_body" class="span-24">
	<div class="latest_postcards span-12">
		<h3>Most popular postcards</h3>
		<% @postcards = latest_postcards %>
		<%= render :partial => 'postcard', :collection => @postcards %>
	</div>
	<div class="tag_cloud span-6">
		<h3>Tag cloud</h3>
		 <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
		    <%= link_to tag, tag_path(:id => tag.name), :class => css_class %>
		  <% end %>
	</div>
	<div class="logos span-6 last">
		<%= image_tag "logos/globalhome.jpg", :width => "150" %>
		<%= image_tag "logos/medsoc.png", :height => "100" %>
	</div>
	<div class="spacer"></div>
</div>