<div class="wrapper">
	<%= title('All Postcards', :h2) %>
	<h2><%= "Showing #{ pluralize(@postcards.size, 'postcard')}" %> of <%= @count %></h2>
	<%= render :partial => 'postcard', :collection => @postcards %>
	<%= will_paginate @postcards %>
</div>