<div class="wrapper">
<%= title('Submit a postcard', :h2) %>
<% form_for @postcard, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <fieldset>
		<legend>Postcard Details</legend>
  		<ol>
			<li>
			    <%= f.label :title %><br />
			    <%= f.text_field :title %>
			</li>
			<li>Country<br/>
				<%= country_select(:postcard, :country) %>
				<!--<= f.text_field :country %>-->
			</li>
			<li><%= f.label	:location %><br />
				<%= f.text_field :location %>
			</li>
			<li>
			    <%= f.label :description %><br />
			    <%= f.text_area :description, :class => "mceEditor" %>
			</li>
		</ol>
		<!-- auto complete tags -->
		<ol>
			<!--<li>
				< unless @categories.empty? %>
					<label for="categories">Categories</label><br/>
				        <%= link_to 'Category', {:controller => 'categories' }  %><br/>
				        <select name="postcard[category_ids][]">				         
				        <%= options_from_collection_for_select( @categories, :id, :name) %><br/><br/>
				        </select>
				< end %>
			</li>-->
			<li>
				<label for="tags">Tags</label><br/>
				<%= f.text_field :tag_list %>
				<!--<= text_field_with_auto_complete :postcard, :tag_list, { :size => 50 }, { :url => formatted_tags_path(:js), :method => :get, :tokens => ',' } >-->
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Photo</legend>
		<ol>
			<li>
				<label for="image">Upload Image</label>
				<%= f.file_field :photo %>  
			</li>
    	</ol>
	</fieldset>
	<fieldset>
		<legend>Placement details</legend>
  		<ol>
    		<li>
				<%= f.label :organisation %><br />
				<!--<= text_field_with_auto_complete :postcard, :organisation, :skip_style => true  >-->
    			<%= f.text_field :organisation %> (<%= f.label :url %>
			    http://<%= f.text_field :url %>)
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Related information</legend>
		<ol>
			<li>
			    <%= f.label :tips %><br />
			    <%= f.text_area :tips, :class => "mceEditor" %>
			</li>
			<li>
				<%= render :partial => 'links' %>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Terms and Conditions</legend>
		<ol>
			<li><%= check_box (:postcard, :terms_of_service) %>								
			  <%= label_tag(:terms, "I agree to the terms and conditions") %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= f.submit "Post it" %>
	</div>
<% end %>
</div>